@media (min-width: 800px) {

    *{
        margin: 0;
    }
    /*implementa flexbox tipo layout a todo el body*/
    body{
        display: flex;
        flex-direction: column;
        
    }
    /*añade un background color a "barra_nav" controlando la altura, anchura y posicion*/
    header {
        position: relative;
        top: 0;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(56, 139, 247);
        height: 50px;
    }
    
    #logo {
        height: 50px;
        width: auto;
        margin-left: 3px;
        margin-top: 10px;
        
    }
    
    
    #cita {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: white;   
        padding: 10px 20px;
        text-decoration: none;
        transition: 0.3s ease;
    }
    
    #cita:hover {
        background-color: #005c99;
        border: 2px solid #005c99;
    }
    
    #cita:not(:hover) {
        background-color: transparent;
        border: 2px solid transparent;
    }
    
    #cita img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    
    .titulo_main {
        font-family: 'Arial Black', Gadget, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    
    
    .imgContainer {
        position: relative;
        width: 100%;
    }
    
    .imgContainer::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%; /* Ajusta este valor según sea necesario */
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    }
    
       
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    
    main {
        width: 300px;
        margin-left: auto;
        margin-right: 38%;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
        margin-top: 120px;
        margin-bottom: 120px;
    
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 1px;
    }
    
    input[type="text"] {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    input[type="submit"] {
        width: 60%;
        padding: 10px;
        margin-left: 16%;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    
    #footer{
        background-color: rgb(156, 147, 147);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #footer p{
        font-size: 15px;
        line-height: 1.5;
        color: #000000;
        font-family: Arial, sans-serif;
    }

    #footer2 {
    display: none;
    }

    #footer2 p {
    display: none;
    }
    
    #obligatorio {
        color: red;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: auto;
    }
    
}  
    

@media (max-width: 799px) {	

    *{
        margin: 0;
    }
    /*implementa flexbox tipo layout a todo el body*/
    body{
        display: flex;
        flex-direction: column;
    }
    header {
        position: relative;
        z-index: 100;

        background-color: rgb(56, 139, 247);
        height: 70px;
    }
    
    #logo {
        position: absolute;
        top: 50%; /* Posiciona el logo a la mitad de la altura del contenedor */
        left: 50%; /* Posiciona el logo a la mitad del ancho del contenedor */
        transform: translate(-50%, -50%); /* Ajusta la posición exacta del logo al centro */
        height: 90px;
        width: auto;
        
    }
    
    
    #cita {
        text-indent: -9999px; /* Hide text */
        display: inline-block; /* To maintain layout */
        overflow: hidden; /* To prevent scrollbars if text is large */
        font-size: 0;

    }
    
 
    
    #cita img {
        width: auto;
        height: 60px;
        margin-right: 5px;
        display: block;
    }
    
    .titulo_main {
       display: none;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    
    main {
        width: 300px;
        margin-left: auto;
        margin-right: 25%;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
        margin-top: 120px;
        margin-bottom: 120px;
    
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 1px;
    }
    
    input[type="text"] {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    input[type="submit"] {
        width: 60%;
        padding: 10px;
        margin-left: 16%;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    #obligatorio {
        color: red;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: auto;
    }

    #footer{
        display: none;
         }
         
         #footer p{
         display: none;
         }
     
         #footer2 {
             background-color: rgb(156, 147, 147);
             height: 50px;
             display: flex;
             justify-content: center;
             align-items: center;
         }
     
         #footer2 p {
             font-size: 25px;
             line-height: 1.5;
             color: #000000;
             font-family: Arial, sans-serif;
         }

} 








